/* Keeps full background image*/

html {
    background: url(/images/dillon-shook-mY3_bvR74fI-unsplash.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif !important;

}

/*Pushes portfolio cards to the far right*/

aside {
    display: grid;
    justify-content: end;
}

.card:hover {
    transition: 0.8s;
    scale: 1.1;
}
